# Server Configuration
PORT=5000

# MongoDB Configuration
# For Local MongoDB: mongodb://127.0.0.1:27017/roots-wings
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/roots-wings
mongodb+srv://kaditya39546_db_user:haxLv1tfYIACpHuc@monumentor.dypsfeq.mongodb.net/?appName=monuMentor
MONGODB_URI=mongodb://127.0.0.1:27017/roots-wings

# JWT Secret (change this in production!)
JWT_SECRET=your_secret_key_here

# Fast2SMS API Key (optional, for OTP functionality)
FAST2SMS_API_KEY=your_api_key_here
